.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 799;
}

.loading-gif {
  width: 14vw;
  z-index: 999;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.side-bar {
  width: 400px;
  height: 100vh;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  z-index: 10;
  display: flex;
  flex-flow: column;
  padding: 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  gap: 16px;
}

.accordion {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.accordion-item {
  background: rgba(46, 29, 109, 0.05);
  border-radius: 20px;
  border: 2px solid !important;
  border-color: #1a1c5f;
}

.accordion-button {
  font-family: "quicksand", sans-serif;
  font-size: 18px;
  font-weight: 700 !important;
  color: #1a1c5f;
}

.title {
  font-family: "orbitron", sans-serif;
  font-size: 31px;
  font-weight: 900;
  color: #1a1c5f;
}

.building-button {
  color: #1a1c5f;
  padding: 8px 14px;
  outline-color: #1a1c5f;
  outline: 2px solid;
  border-radius: 10px;
  font-family: "quicksand", sans-serif;
  background: rgba(46, 29, 109, 0.1);
  font-weight: 700;
  font-size: 14px;
}

.building-button:hover,
.selected-building {
  padding: 8px 14px;
  outline-color: #1a1c5f;
  outline: 2px solid;
  border-radius: 10px;
  font-family: "quicksand", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: white;
  background-color: #1a1c5f;
}

.button-grid {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
}
